<div class="account d-flex flex-column justify-content-center align-items-center align-content-center">
  <div class="shadow p-4">
    <div class="d-flex justify-content-center"><img src="assets/images/logo.jpeg" alt="PlantManagement"></div>
    <h3 class="fw-bold">Connexion</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="account-form pt-3"
    [class.error]="loginForm.invalid && loginForm.touched">
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input [formControl]="email" class="form-control" type="email" name="email" placeholder="Votre adresse email" id="email" required>
        <div class="d-flex flex-column">
          <span *ngIf="email.hasError('required') && email.touched" class="text-danger small">L'adresse mail est requis !</span>
          <span *ngIf="email.hasError('invalidEmail') && email.touched" class="text-danger small">Adresse mail invalide !</span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Mot de passe</label>
        <input [formControl]="password" class="form-control" type="password" name="password" placeholder="Mot de passe" id="password" required>
        <span *ngIf="password.hasError('required') && password.touched" class="text-danger small">Le mot de passe est requis !</span>
      </div>
      <div>
        <button  class="btn btn-primary">
          <span *ngIf="loading">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          <span role="status">Connexion en cours...</span>
          </span>
          <span *ngIf="!loading">Se connecter</span>
        </button>
      </div>
    </form>
  </div>
</div>
<app-toast (closeToast)="closeToast($event)" [message]="message" *ngIf="showToast"></app-toast>
